section, article, header, footer, nav, aside, hgroup {display: block;}

html {font-size: 16px; color: #302f2a;}

body { background-color: #c1a968; margin: 0; padding: 0;   font-family: "futura-pt",sans-serif;

     
}

ul, li {margin: 0 auto; padding: 0; list-style: none;}

input {
       margin: 1em auto;
    display: block;
    

    width: 393px;
    background: #ccc;
    padding: 25px;
    

    border-radius: 2px;
    background: #fff;
    border: none;
    box-shadow: inset 0 4px 0px rgba(0,0,0,.1);
    font-size: 2rem;
font-family: "futura-pt",sans-serif;
font-style: italic;
font-weight: 300;

    height: 29px;

    

}

h1 {font-size: 5rem; line-height: 4rem; margin: 0; text-align: center; }
h2 {font-size: 3.4rem; line-height: 3rem; margin: 21px 0px 34px 0px;

font-style: normal;
font-weight: 300;}

h3 {font-size: 4rem; line-height: 6.3rem; margin: 0; }
p {font-size: 1.8rem; line-height: 2.7rem; max-width: 70rem; }
p + p {line-height: 2.7rem;}
a {color: #8f7292;text-decoration: none;}



.intro { padding: 7rem 2rem 2rem 2rem; max-width: 100%; margin: 0 auto; position: relative;}
.intro img {display: block; margin: 0 auto 195px;width: 190px;}
.intro h1 {text-align: center; display: block; width: 100%; padding: 3rem 0 1.5rem 0;}


.search { max-width: 78rem; margin: 0 auto; padding: 0 2rem 2rem 2rem; }


.case {margin: 3rem auto;  max-width: 1280px;}
.case > * > * {padding: 0 2rem 2rem 2rem; background-color: white; margin: -3rem 3rem 6rem 3rem; padding: 3rem; border-radius: 3px; }
.case img {display: block; margin: 23px auto 0; max-width: 100%;}
.case > * .link { position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;}

.tweet {    background-image: url('../../images/fussball.png');
  background-repeat: no-repeat;
  background-position: center 198px;
  background-size: 455 311px;}

p.start {

font-style: normal;
font-weight: 400;
color: #8f7292;
font-size: 18px;
line-height: 28px;
text-align: justify;
text-transform: uppercase;
display: inline;
letter-spacing: 2px;
}

h2.start {

font-size: 4.4rem;
letter-spacing: -2px;
margin: 0;
display: inline-block;
margin: 21px 0px 34px 0px;
}
.casecontent {max-width: 55rem; margin: 0 auto;}
.casecontent h1 {margin: 1rem 0 0 0;}
.casecontent p {margin: 1rem 0 0 0;}
.casecontent p + p {font-size: 1.6rem; line-height: 2.5rem;}
.casecontent a { background-color: white; font-size: 1.4rem; display: block; margin: 2rem auto 0 auto; padding: 12px 0; text-align: center; text-decoration: none; color: rgb(238, 44, 44); border-radius: 4px; max-width: 90%; text-transform: bold; -webkit-transition: background-color 100ms ease-out; transition: background-color 100ms ease-out;}
.casecontent a:hover {background-color:#e44d26; color:#fff; }


.results {margin-top: 6rem;}
.results > * > * {padding: 0 2rem 2rem 2rem; background-color: white; margin: -97px 0rem 0rem 0rem; padding: 2rem; border-radius: 3px;box-shadow: 0px -14px 68px -20px rgba(0,0,0,0.4);}
.results img {display: block; margin: 0 auto; max-width: 100%;}
.results > * .link { position:absolute; width:100%; height:100%; top:0; left: 0; z-index: 1;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.menutop { height: 8rem; display: block; position: absolute; top: 0; left: 0; } 
    .menutop > ul {float: left;}
    .menutop > ul a {font-size: 7.4rem; border-bottom: none; color: white;padding: 1rem 1.5rem 1rem 1.5rem;}
    .menutop > ul a:hover {background: red; color: white;}
    .menutop > ul li {float: left;}
    .menutop > * > ul { float: right;}
    .menutop > * > ul a { display: block; padding: 1.3rem 2.67em 1.2rem 2.8rem; text-align: center; text-decoration: none; border-left: 1px solid #fdfcd7; color: #e44d26;}
    .menutop img {float: left; display: block; width: 3.8rem;}
    .menutop .home {display: block;}
/* Ta fram menyn för desktop */
/*
@media only screen and (min-width: 640px) {

    .menutop { height: 4rem; display: block; position: fixed; top: 0; left: 0; } 
    .menutop > ul {float: left;}
    .menutop > ul a {font-size: 1.4rem; border-bottom: none; border-right: 1px solid #fdfcd7; padding: 1rem 1.5rem 1rem 1.5rem;}
   	.menutop > ul a:hover {background: red; color: white;}
    .menutop > ul li {float: left;}
    .menutop > * > ul { float: right;}
    .menutop > * > ul a { display: block; padding: 1.3rem 2.67em 1.2rem 2.8rem; text-align: center; text-decoration: none; border-left: 1px solid #fdfcd7; color: #e44d26;}
    .menutop img {float: left; display: block; width: 3.8rem;}
    .menutop .home {display: block;}

    .intro { padding: 10rem 2rem 2rem 2rem;}

   

}


/* Två columer för case */
/*
@media only screen and (min-width: 980px) {
    .case > * {overflow: hidden;}
    .case > * > * { min-height: 70rem; overflow: hidden;}
 	.case > * > * > * {max-width: 1580px; margin: 0 auto; position: relative; }
 	.case img {position: absolute; left: 450px; overflow: hidden; max-width:94%%;}
 	.casecontent {max-width: 48rem; width: 50rem; padding-top: 7rem; margin: 0;}

    .case img { -webkit-transition: left 700ms ease-out; transition: left 700ms ease-out; }
   
    
 	h1 {text-align: left;}
    .intro h1 {padding: 8rem 0 3.5rem 0}
 	.casecontent a {max-width: 50%; margin: 2rem 0 0;}

    .intro ul { }
    .intro ul li { display: block; padding: 1.3rem .67em 1.2rem 2.8rem; float: left; text-align: center; text-decoration: none;  color: #e44d26;}

} 


@media only screen and (min-width: 1280px) {
    
 

} 



/* Ändra REM nr1 */
/*
@media only screen and (min-width: 1280px) and (min-height:700px){
    html {font-size: 12px;}

        .case > * > * { min-height: 80rem; overflow: hidden;}
       .case img {max-width: 75%;}
       .case img {position: absolute; left: 510px; overflow: hidden; max-width:94%%;}

}


/* Fontförändringar */
/*
@media only screen and (min-width: 640px) {

    h1 {font-size: 5rem; line-height: 5rem;}
    .intro h1 {font-size: 9rem;}

   

}
*/





/* Container */
.modal {

    /* Overlay page content */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10000;

    /* Transition opacity on open */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;

    /* Hide for now */
    opacity: 0;
    pointer-events: none;
}

/* Show modal */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    /* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}

.background {
    overflow :hidden; 
   /* background-color : white; */
} 

.foreground_modal {
    overflow : scroll;
   
}

.foreground_body {
     overflow : 'scroll';
}


/* Content */
.modal > div {

    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    margin: 10% auto;


    
    /* Default minimise animation */
    -webkit-animation: mymove 100ms linear;
    -moz-animation: mymove 100ms linear;
padding-top: 411px;
    /* Prettify */
    padding: 50px;
    box-shadow: -2px -11px 37px 1px;
        background: #fff;
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
from {top:0px;}
to {top:200px;}
}

@-webkit-keyframes mymove2 /*Safari and Chrome*/
{
from {top:200px;}
to {top:0px;}
}


/* Override animation on modal open */
.modal:target > div {
    -webkit-animation: mymove2 500ms linear;

         background-image: url('../../images/map.jpg');
  background-repeat: no-repeat;
  background-position: center 0px;
  
    background-size: 1860px 381px;
  

    padding-top: 450px;
}


.modal h2 {
    font-size: 26px;
    padding: 0 0 20px;

}

.modal p {max-width: 80%;}

.modal h1 {text-align: left; margin: 11px 0px 28px 0px}


@-webkit-keyframes minimise {
  0% {
    -webkit-transform: scale3d(1,1,1);
  }
  100% {
    -webkit-transform: scale3d(0.1,0.1,1);
  }
}




/* Modal close link */
.modal a[href="#close"] {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
}

/* Reset native styles */
.modal a[href="#close"]:focus {
    outline: none;
}

/* Create close button */
.modal a[href="#close"]:after {
     content: '';
    display: block;

    background-image: url('../../images/close.png');

    /* Position */
    position: absolute;
    right: 130px;
    top: 31px;
    width: 1.5em;
    padding: 1px 1px 1px 2px;

    /* Style */
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    width: 55px;
    height: 56px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 20px;
    }

    .modal a[href="#close"]:focus:after,
    .modal a[href="#close"]:hover:after {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}

.modal a[href="#close"]:focus:after {
    outline: 1px solid #000;
}

/* Open modal */
a.openModal {
    margin: 1em auto;
    display: block;
    width: 200px;
    background: #ccc;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #ddd);
    background: -webkit-linear-gradient(#fff, #ddd);
    background: -o-linear-gradient(#fff, #ddd);
    text-shadow: 0 1px 0 #fff;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

a.openModal:hover,
a.openModal:focus {
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-linear-gradient(#fff, #ccc);
    background: -o-linear-gradient(#fff, #ccc);
}





.order {font-size: 40px;line-height: 10px;color: #e0e0e0;}

.numbers {font-size: 29px; 
font-style: normal;
font-weight: 700;
text-align: right;
color: #666;
line-height: 31px;}

.company {font-size: 22px;line-height: 44px;}



table {
  max-width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
    font-size: 22px;

}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid transparent;
}

.table th {
    font-size: 14px;
    letter-spacing: 2px;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid transparent;
}

.table .table {
  background-color: #d0434c;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid transparent;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid transparent;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {

  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
 
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #505e6e;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}



#second { background: url(../../images/fussball.png) 50% 0 no-repeat fixed; }

/* Background Only */
#second { padding: 50px 0;}

#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}
